<style>
  .contactList li{
    font-size: 24px;
    color: white;
    width: 100%;
    display: table;
    vertical-align: middle;
  }
  

  .contactButton{
    border-bottom: 1px solid #292929;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../background2.jpg);
    overflow: hidden;
  }
</style>
<h1>Contact</h1>

{{#if isLoggedIn}}
<form method="POST" class="form">
  <h1>Add Contact</h1>
  <label>Username/email:</label><br>
  <input type="text" placeholder="EnterUsername/Email..." name="textField" columns="3" value="{{text}}"><br>
  <label>link:</label><br>
  <input type="text" name="linkField" placeholder="https://..." value="{{link}}"><br>
  <label>Logo:</label><br>
  <input type="text" name="classField" placeholder="Facebook/linkedin/instagram..." value="{{class}}"><br>
  
  <input type="submit" value="Submit">
  <input type="hidden" name="_csrf" value={{csrfToken}}>
  {{#if validationErrors.length}}
    <h3 style="color:white">Could not update contact:</h3>
    <ul>
      {{#each validationErrors}}
        <li style="color:red;">{{this}}</li>
      {{/each}}
    </ul>
{{/if}}
</form>
{{/if}}

<div class="form">
<ul class="contactList">
{{#each contact}}
  <li class="contactListEntry"><i class="fi fi-{{class}}"></i> <a href="{{link}}">{{text}}</a>
  {{#if ../isLoggedIn}} 
    <div class="infoButtonEdit">
      <form action="/editContact/{{id}}">
        <input type="submit" value="Edit">
        <input type="hidden" name="_csrf" value={{../csrfToken}}>
      </form>
    </div>
    <div class="infoButtonDelete">
      <form action="/deleteContact/{{id}}" method="POST">
        <input type="submit" value="Delete">
        <input type="hidden" name="_csrf" value={{../csrfToken}}>
      </form>
    </div>
  {{/if}}
  </li>
{{/each}}
</ul>
</div>