<style>
  .portfolioButton{
    border-bottom: 10px solid #292929;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../background2.jpg);
    overflow: hidden;
  }
</style>
{{#if isLoggedIn}}
{{#if portPost.length}}
{{#each portPost}}
<form action="/editPortfolio/{{id}}/?_csrf={{../csrfToken}}" method="POST" class="form" enctype="multipart/form-data">
  <h1>Edit Portfoliopost</h1>
  <label for="title">Title:</label><br>
  <input type="text" placeholder="EnterTitle..." id="title" name="title" columns="3" value="{{title}}"><br>
  <label for="lname">Description:</label><br>
  <textarea type="text" id="textField" placeholder="EnterDescription..." name="textField">{{postText}}</textarea><br>
  <input type="file" name="imgInput">
  <input type="submit" value="Submit">
  {{#if ../validationErrors.length}}
    <h3 style="color:white">Could not post:</h3>
    <ul>
        {{#each ../validationErrors}}
        <li style="color:red;">{{this}}</li>
        {{/each}}
    </ul>
{{/if}}
</form>
{{/each}}
{{else}}
<h1>No post with that ID</h1>
{{/if}}
{{else}}
<h1>You need to be logged in to use this feature</h1>
{{/if}}